@page "/service-control"

@inject ILogger<ServiceManager> Logger

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Service Control</h3>
        </div>
        <div class="card-body">
            <div class="service-section mb-4">
                <div class="service-detail">
                    <strong>Status:</strong>
                    <span class="@statusClass">@statusMessage</span>
                </div>
            </div>

            <hr />

            <div class="d-flex justify-content-end my-3">
                <button class="btn btn-success btn-sm mx-1" @onclick="StartService">Start</button>
                <button class="btn btn-danger btn-sm mx-1" @onclick="StopService">Stop</button>
            </div>
        </div>
    </div>
</div>

@code {
}